.root {
    -fx-focus-color: #000000;
    -fx-border-radius: 0;
}
#button_commands{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
#darkMode_contextMenu .context-menu {
    -fx-background-color: #555555;
}

#darkMode_center_scrollPane{
    -fx-border-color: #3C3F41;
    -fx-background: #3C3F41;
}
#darkMode_menu .label{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-color: #555555;
}
#darkMode_header_modeButton{
    -fx-background-color: #3E869E;
    -fx-background-radius: 20px;
    -fx-border-color: #222222;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-background-insets: 2px;
}

#lightMode_contextMenu .context-menu {
    -fx-background-color: #E9E9E9;
}

#lightMode_center_scrollPane{
    -fx-border-color: #F4F4F4;
    -fx-background: #F4F4F4;
}
#lightMode_menu .label{
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-color: #555555;
}
#lightMode_header_modeButton{
    -fx-background-color: #3E869E;
    -fx-background-radius: 20px;
    -fx-border-color: #C8C8C8;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-background-insets: 2px;
}